# macOS
.DS_Store

# Visual Studio Code
.vscode/

# NuGet Packages
*.nupkg
*.paket/
packages/
*.lock.json

# Build output
/bin/
/obj/
/Artifacts/
/Intermediate/

# User-specific files
*.user
*.suo
*.userprefs
*.sln.docstates
*.vs

# Rider
.idea/

# Miscellaneous
*.log
