# macOS
.DS_Store

# Visual Studio Code
.vscode/

# NuGet Packages
*.nupkg
*.paket/
packages/
*.lock.json

# Build output
/bin/
/obj/
/Artifacts/
/Intermediate/

# User-specific files
*.user
*.suo
*.userprefs
*.sln.docstates
*.b1173dce-7f08-4cf0-bcbe-761ab8318029.vsidx

# Rider
.idea/

# Miscellaneous
*.log
